$silver-chalice: #aaaaaa;
$pale-sky: #6c757d;
$gallery: #eeeeee;
$monte-carlo: #82cece;
$white: #ffffff;
$black: #000;
$steel-blue: #5f8fc0;
$ghost:#ced4da;
$outer-space: #343a40;
$wild-sand: #f4f4f4;
$royal-blue: #416ad9;
$gray: #808080;
$bg-grey: #f7f6f6;
$paragraph_text: #4d5156;
$link: #808080;
$hover-bg: #e9ecef;
$hover-link: #416ad9;
$sidebartabsactivebg: #82cece;

// Device breakpoints.
$xs: 576px;
$sm: 768px;
$md: 992px;
$lmd: 1024px;
$lg: 1200px;
