section(class="canvas front" id="front")

    div(class="content")

        h1 Digital Transformation demands Digital Assurance for to achieve Business Goals

        div

            p Scroll down to read more 

            div

                a(href="#section-2") Know more
                a(href="#section-3") Read our blogs

    +nav-1("section-1")
