section(class="canvas front" id="section-4")

    div(class="content")

        h4 Register your interest for a demo and we will get back to you.

        form(name="register" netlify)
            p
              | Email: 
              input(type='email', name='email', value='')
              input(type='submit', value='Register')

    +nav-1("front", "prev")
