section(class="canvas section-1" id="section-1_1")

    h2 Challenges

    div(class="content")

        div

            article

                p.
                    While the tools are already there and evolving at their own pace, teams face challenge of consistently running these tests.


    +nav-1("section-2")
