section(class="canvas section-1" id="section-1")

    h2 What is Digital Assurance?

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Digital Assurance

                p.
                    Digital assurance includes functional, performance and security testing. It also provides the speed of software delivery in a continuously evolving environment that digital businesses require. With a traditional QA approach, businesses can only validate the existing software functionalities without focusing on the customer experience. But due to the growing customer demand and expectations, the modern user experience shift has forced businesses to test software apps with digital assurance leveraging user experience.

    +nav-1("section-1_1")
