#block-tedboard-local-tasks {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 30vh;

	ul{
		li {

			list-style: none;

			a {
				background: $gray;
			    padding: 2px 5px;
			    color: #fff;
			}
		}
	}
}

#block-tedboard-page-title {
	margin: 100px 0;
	text-align: center;
}

div#block-twittertimeline {
  background: #6C7586;
  padding: 40px;
  margin: 40px 0;

  h2 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
  }

  iframe {
    width: 48% !important;
    margin: 0 auto!important;
    display: flex!important;
  }
}