.webform-confirmation__message {
    font-size: 1.5rem;
    text-align: center;
}

.webform-submission-register-form {
	.form-email {
		width: 20rem;

		@media only screen and (max-width: $sm) {
			width: 100%;
		}
	}
}