.header {
	-webkit-box-shadow: 0 3px 10px -6px #000;
    -moz-box-shadow: 0 3px 10px -6px #000;
    box-shadow: 0 3px 10px -6px #000;

    #block-tedboard-branding {
    	img {
    		height: 25px;
    		margin: 10px 0;
    	}
    }
}